body {
  /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
}

.content-container {
    display:-ms-grid;
    -ms-grid-columns: 8px 1fr 8px;
    -ms-grid-rows: 8px auto 16px 1fr 8px;
    width: 100%;
    height: 100%;
}

.test-button-container {
    display: -ms-flexbox;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

.debug-text-area {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
}

.test-button {
    width: 100px;
    height: 100px;
    vertical-align: top;
    margin: 4px;
}
